body {
    padding: 50px;
}

.tab_inside {
    display: inline-block;
    border: 1px solid gray;
    vertical-align: middle;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
}
#Month {
    background: azure;
}

.weekday {
    background: gray;
    color: black;
}

td {
    padding: 5px;
    border: 4px groove lightgray;
    text-align: center;
}
td:hover {
    background: lime;
    cursor: pointer;
}

th {
    padding: 10px;
    border: 4px groove  #555555;
    cursor: default;
}

.current {
    font-weight: bolder;
    color: black;
}
.not_current {
    font-weight: normal;
    color: gray;
}
